body{
    color: #ffffff!important;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 13px;
    font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    margin:0;
    background-color: #1b1f50;
    overflow-x: hidden;
}

main{
    width: 80%;
    padding: 0px;
    margin-top: 9%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    /*position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}


input{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.page{
    display: none;
}

.header{
    margin-top:8px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 9.27%;
}


.next,.next_3,.next_4 {
    width:100%;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 9%;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.7)!important;
    line-height: 1.8em;
    background-color: rgba(60,60,200,0.2);
    border-width: 2px;
    border-color: #4328B7;
    padding-top: 30px!important;
    padding-right: 16px!important;
    padding-bottom: 30px!important;
    padding-left: 16px!important;
}
    


.introduction {
    width:75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*text-align: justify;*/
}
    
.trait{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 2.75%;
    height: 4px;
    max-width: 80px;
    margin: 0 0 30px;
    position: relative;
    background-color: #4328B7;
}

.responsable,.prev,.envoi_2{
    width:100px;
    height:40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
        
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 10px;
    color: rgba(255,255,255,0.7)!important;
    background-color: rgba(60,60,200,0.2);
    border-width: 0px;
    border-color: #4328B7;
    padding-top: 1px!important;
    padding-right: 16px!important;
    padding-bottom: 1px!important;
    padding-left: 12px!important;
}

.prev_3,.envoi_3{
    width:100px;
    height:40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
        
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 10px;
    color: rgba(255,255,255,0.7)!important;
    background-color: rgba(60,60,200,0.2);
    border-width: 0px;
    border-color: #4328B7;
    padding-top: 1px!important;
    padding-right: 16px!important;
    padding-bottom: 1px!important;
    padding-left: 12px!important;
}

.prev_4,.envoi_4{
    width:100px;
    height:40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
        
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 10px;
    color: rgba(255,255,255,0.7)!important;
    background-color: rgba(60,60,200,0.2);
    border-width: 0px;
    border-color: #4328B7;
    padding-top: 1px!important;
    padding-right: 16px!important;
    padding-bottom: 1px!important;
    padding-left: 12px!important;
}

#envoi{
    width:100px;
    height:40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
        
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 10px;
    color: rgba(255,255,255,0.7)!important;
    background-color: rgba(60,60,200,0.2);
    border-width: 0px;
    border-color: #4328B7;
    padding-top: 1px!important;
    padding-right: 16px!important;
    padding-bottom: 1px!important;
    padding-left: 12px!important;
}

.responsable:hover{
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}

h3{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}

p{
    font-size: 11px;
}

.foter{
    background-color: #28186A;
    margin-right:auto;
    margin-left:auto;
}

.logo{
    margin-left:25%;
}

.checkbox{
    /*width:100%;*/
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 9%;
    box-shadow: 0px 2px 60px 0pxrgba(60,60,200,0.4);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    font-family: 'Source Sans Pro',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    color: rgba(255,255,255,0.7)!important;
    line-height: 1.8em;
    background-color: rgba(60,60,200,0.2);
    border-width: 2px;
    border-color: #4328B7;
    padding-top: 30px!important;
    padding-right: 16px!important;
    padding-bottom: 30px!important;
    padding-left: 16px!important;
    text-align:center;
    margin-top:10px;
}

.img{
    margin-left:auto;
}

.bouton{
    text-align:center;
}

#page5{
    text-align:center;
    text-transform:none;
}

#remerciement{
    text-align:center;
}








.custom-shape-divider-bottom-1662579670 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    background-color: #1b1f50 ;
}

.custom-shape-divider-bottom-1662579670 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1662579670 .shape-fill {
    fill: #28186A;
}

.spacer{
    width:100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../image/layer1.svg');
}

.layer1{
    
}